@import "./_chartist-settings.scss";
@import "../../node_modules/chartist/dist/scss/chartist.scss";

body {
    background-color: lightskyblue;
    font: 1em sans-serif;
}

#mapid { 
    height: 600px;
    width: 900px;                        
}


// Popup Customisation

.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
}


.custom-popup .leaflet-popup-tip {
    background:#2c3e50;
}
  

.session-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }