@import "./_chartist-settings.scss";
@import "../../node_modules/chartist/dist/scss/chartist.scss";

body {
    // background-color: lightskyblue;
    background-color: #2c3e50;
    color: whitesmoke;
    height:100%
}

.dark-bg {
    background-color: #252525;
}

.light-bg {
    background-color: whitesmoke;
    padding: 3px
}

.light-text {
    color: whitesmoke
}

#map-container {
    height:100vh;
    padding-left:20px;
    padding-right:20px;
}

.data-table{
    background-color: #2c3e50;
}
.sidebar{
   height:100vh
}

.timeline{
    cursor: pointer;
}

#mapid { 
    width: 100%;
    height: 63vh;                        
}

.logo {
    
    padding: 10px;
    width:100%;
    -webkit-transition: -webkit-transform 2.5s ease-in-out;
            transition:         transform 2.5s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

p {
    font-size: 0.8rem;
}

li:hover {
    transform:scale(1.02);
}

.heading {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
} 


.loading-spinner {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 45vh;
}

// Popup Customisation

.custom-popup-paddle .leaflet-popup-content-wrapper {
    background: #252525;
    color:#fff;
    font-size:16px;
    line-height:24px;
}

.custom-popup-paddle .leaflet-popup-tip {
    background:#252525;
}

.custom-popup-wave .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
}

.custom-popup-wave .leaflet-popup-tip {
    background: #2c3e50;
}

.session-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }